.AppContainer {
    border: 1px solid lightgray;
    border-radius: 5px;

    width: 1000px;
    height: 550px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 10px;
}