.Chat_Box {
    /* border: 1px dotted lightblue; */
    border-radius: 5px;

    width: 40%;
    height: 95%;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    gap: 10px;
}